<% unless captcha_passed? %>
	<span id="brain_buster_captcha" class="<%= if last_captcha_attempt_failed? then 'captcha_failed' end %>">
	
		<%= hidden_field_tag :captcha_id, @captcha.id %>
		
		<label for="captcha_answer">
			<div class="Label">Verification question/answer<span style="color: red; font-weight: bold; font-size: 120%;">*</span></div>
      <%= @captcha.question %>
		</label>
    <div>
    <input type="text" value="<%= params[:captch_answer] -%>" size="10" default="" required="true" name="captcha_answer" class="Field" />
    </div>
	</span>
<% end %>
